.example-spacer {
  flex: 1 1 auto;
}
.header {
  background: #1e1e1e;
  height: 70px;
  display: flex;
  justify-content: space-between;

  &-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  &-title {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    cursor: pointer;
  }

  &-menu {
    &-list {
      list-style: none;
      display: flex;
      color: #fff;
      width: 30%;
      align-items: center;
      justify-content: space-around;
    }
    &-item {
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      width: 100px;
      text-align: center;
      position: relative;
      padding-bottom: 10px;

      &::after {
        position: absolute;
        content: "";
        height: 5px;
        background: linear-gradient(45deg, #eba00b, #e71515);
        width: 0;
        bottom: 0;
        left: 0;
        transition: all 0.5s ease;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}
